main {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url(../img/Venom-2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position-x: -200px;
}
    main>div {
        background-color: rgb(131, 23, 23,);
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 200px;
        border-radius: 10000px;
    }
    @media screen and(min-width: 550px) {
        main {
            background-position-x: 0; 
        }
    }
    h1 {
        font-family: China Syndrome DEMO;
        font-size: 100px;
    }

    
    