nav {
    background-color: rgb(78, 194, 248, 0.9);
    position: fixed;
    width: 100vw;
    z-index: 3;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    list-style: none;
}

nav ul li:hover {
    text-shadow: 0 0 2px rgb(0, 0, 0, 0.7)
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}